
.test {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    gap: 0 2%;
    margin: 5vw 5vw;
    min-height: 20vw;
}

.test p{
    text-align: justify;
    text-shadow: 0 0 10px #000000;
}

.image-holder-grid {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));

}

.image-holder-grid.image-right {
    order: 1;
}

.image-holder-grid.image-left {
    grid-area: 1 / auto / auto / auto;
}

.image-holder-grid.image-bottom {
    grid-area: 2 / auto / auto / auto;
}
.image-holder-grid img {
    width: 100%;
    height: 100%;
    border-radius: 1%;
    object-fit: cover;
}

.video-wrapper {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    box-shadow: 10px 10px 30px #000000;
    border-radius: 1%;
  }
  
  .video-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 1%;
  }

  