.project-grid-setup {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    gap: 0 2%;
    margin: 5vw 10vw;
    min-height: 20vw;
}

.project-grid-setup p {
    text-align: justify;
    text-shadow: 0 0 10px #000000;
}

.image-holder-grid {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: 1%;
}

.under-shadow {
    box-shadow: 10px 10px 30px #000000;
    border-radius: 1%;
}

.under-shadow img {
    border-radius: 1%;
}

.image-holder {
    position: relative;
    width: fit-content;
    justify-self: center;
}

.image-holder img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.image-holder-underText {
    width: 100%;
    height: auto;
    margin: 2% 0 0 0;
}

.image-holder-grid.image-right {
    order: 0;
}

.image-holder-grid.image-left {
    grid-area: 1 / auto / auto / auto;
}

.image-holder-grid.image-bottom {
    grid-area: 2 / auto / auto / auto;
}

.image-holder-grid.contain img {
    object-fit: contain;
}

.video-wrapper {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    box-shadow: 10px 10px 30px #000000;
    border-radius: 1%;
}

.video-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 1%;
}

.background-text {
    background-color: #0f0f0f81;
    border-radius: 1%;
    padding: 2%;
}

.padded-h2 {
    padding: 0 2%;
}