body {
    background-color: rgb(43, 43, 46);
    font-family: 'Exo', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    color: rgb(179, 208, 245);
}

.container {
    width: 100%;
    height: 1000px;
    display: grid;
    container-type: inline-size;
    grid-template-columns: repeat(auto-fit, minmax(min(600px, 100%), 1fr));
    gap: 2%;
    padding: 0;
    margin: 20px auto;
    max-width: 95vw;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
}

